<!DOCTYPE html>
<html lang="en">
  <head>
    <title>new catalog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <h2>NEW ACCOUNT</h2>
      <form class="form-vertical" action="#" method="POST">{% csrf_token %}
        <div class="form-group">
            <label>Tipo Activo</label>
            <input type="text" >
        </div>
        <div class="form-group">
            <label>Sub Tipo Activo</label>
            <input type="text" >
        </div>
        <div class="form-group">
            <label>Nombre Activo</label>
            <input type="text" >
        </div>
        <div class="form-group">
            <label>Tipo Activo</label>
            <input type="number" >
        </div>
        <input type="submit" value="Guardar"/>
      </form>
    </div>
  </body>
</html>

        <input type="submit" value="Guardar"/>
      </form>
    </div>
  </body>
</html>

        <input type="submit" value="Guardar"/>
      </form>
    </div>
  </body>
</html>

        <div class="form-group">
            <label>Tipo Activo</label>
            <input type="text" >
        </div>
        <input type="submit" value="Guardar"/>
      </form>
    </div>
  </body>
</html>

        <div class="form-group">
            <label>Tipo Activo</label>
            <input type="text" >
        </div>
        <input type="submit" value="Guardar"/>
      </form>
    </div>
  </body>
</html>

        <input type="submit" value="Guardar"/>
      </form>
    </div>
  </body>
</html>
