{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>new catalog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{% static "css/style.css"%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
  <section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card border-top border-bottom border-3" style="border-color: #f37a27 !important;">
          <div class="card-body p-5">

            <p class="lead fw-bold mb-5" style="color: #f37a27;">CATALOGO Nº {{catalogo.id_catalogo}}</p>

            <div class="row">
              <div class="col mb-3">
                <p class="small text-muted mb-1">Date</p>
                <p>{{catalogo.date}}</p>
              </div>
              <div class="col mb-3">
                <p class="small text-muted mb-1">Country</p>
                <p>{{catalogo.country}}</p>
              </div>
              <div class="col mb-3">
                <p class="small text-muted mb-1">Catalogo id No.</p>
                <p>{{catalogo.id_catalogo}}</p>
              </div>
              <div class="col mb-3">
                <p class="small text-muted mb-1">Gastos</p>
                <p>{{catalogo.gastos}}</p>
              </div>
              <div class="col mb-3">
                <p class="small text-muted mb-1">Ingresos</p>
                <p>{{catalogo.ingresos}}</p>
              </div>
              <div class="col mb-3">
                <p class="small text-muted mb-1">Patrimonio Neto</p>
                <p>{{catalogo.patrimonio_neto}}</p>
              </div>
              <div class="col mb-3">
                <p class="small text-muted mb-1">Saldo Intermediario</p>
                <p>{{catalogo.saldo_intermediario}}</p>
              </div>
            </div>

            <div class="mx-n5 px-5 py-4" style="background-color: #f2f2f2;">
              <div class="row">
                <div class="col-md-8 col-lg-9">
                  <p class="mb-0">Activos</p>
                </div>
                <div class="col-md-4 col-lg-3">
                  <p>£299.99</p>
                </div>
              </div>
              <div class="row">
                <div class="col-md-8 col-lg-9">
                  <p class="mb-0">Pasivos</p>
                </div>
                <div class="col-md-4 col-lg-3">
                  <p class="mb-0">£33.00</p>
                </div>
              </div>
            </div>


            <p class="lead fw-bold mb-4 pb-2" style="color: #f37a27;">Total</p>
            <div class="row my-4">
              <div class="col-md-4 offset-md-8 col-lg-3 offset-lg-9">
                <p class="lead fw-bold mb-0" style="color: #f37a27;">£262.99</p>
              </div>
            </div>
            <form action="pdf/{{ catalog.id_catalogo }}">
              <input type="hidden" name="pdf" value="{{ catalogo.id_catalogo }}">
              <input type="submit" value="PDF">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
</html>

