
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travello Login or Sign up</title>
    <link rel="stylesheet" href="{% static 'css/myStyle.css'%}">
</head>
<body>
    <main>
        <div class="row">
            <div class="colm-logo">
                <img src="">
            </div>
            <div class="colm-form">
                <div class="form-container">
                    
                <form action='#' method='POST'> {% csrf_token %}
                    <input type="text" name="first_name" placeholder="First Name" required><br>
                    <input type="text" name="last_name" placeholder="Last Name" required><br>
                    <input type="text" name="username" placeholder="Username" required><br>
                    <input type="email" name="email" placeholder="email" required><br>
                    <input type="password" name="password1" placeholder="Password" required><br>
                    <input type="password" name="password2" placeholder="Confirm Password" required><br>
                    <input type="radio" name="type_user" id="clienteid" value="cliente">
                    <label for="clienteid">Cliente</label><br><br>
                    <input type="radio" name="type_user" id="contadorid" value="contador">
                    <label for="contadorid">Contador</label><br><br>
                    <select name="country_id" id="country">
                        {% for country in country %}
                            <option value="{{ country.id_country }}">{{ country.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" class="btn-login" value="Register">

                </form>
                <div>
                {% for message in messages %}
                    <h3> {{message}}  </h3>
                {% endfor %}
                </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>